.c-tab-panel__state-column
  span([ngSwitch]="issueStatus(issue)")
    span(*ngSwitchCase="0")
      button.p-state-label.center-block.p-state-label__resolved((click)="changeStatus()") 解決済み
      .p-state-supplement やっぱり解決してないい場合はクリック
    span(*ngSwitchCase="1")
      button.p-state-label.center-block.p-state-label__no-response((click)="changeStatus()") 未回答
      .p-state-supplement 解決したらクリック
    span(*ngSwitchCase="2")
      button.p-state-label.center-block.p-state-label__in-progress((click)="changeStatus()") 対応中
      .p-state-supplement 解決したらクリック
  button.center-block.p-state-label(*ngIf="isAdmin", (click)="delete()") 削除

.c-tab-panel__content

  //- .c-message-panel_type_fixed を付与するとメッセージ一覧エリアの高さが固定される (運営側向け)
  .c-message-panel.u-cf
    .c-message-panel__name(*ngIf="isSingleIssue") {{ issue.title }}
    a.c-message-panel__name([routerLink]="[issue.id]", *ngIf="!isSingleIssue") {{ issue.title }}
    .c-message-panel__body(*ngIf="issue?.comments && issue?.comments[0]")
      markdown([body]="issue.comments[0]?.text")
      .p-posted-by
        a([routerLink]="['/teams', issue.comments[0]?.member?.team_id]") {{ issue.comments[0]?.member?.team?.name }}
        a([routerLink]="['/members', issue.comments[0].member.id]") {{ issue.comments[0]?.member.name }}
      .p-posted-at 投稿　{{ issue.comments[0].created_at | time }}　|　更新　{{ issue.comments[0].updated_at | time }}

    .c-message(*ngFor="let comment of issue?.comments?.slice(1)", [ngClass]="{'c-message_of_others':comment.member?.role_id == 4, 'c-message_of_own': comment.member.role_id != 4}")
      .c-message__body
        markdown([body]="comment.text")
      .c-message__footer.u-cf
        .p-post-meta([ngSwitch]="comment.member?.role_id")
          span(*ngSwitchCase='4')
            a([routerLink]="['/teams', comment.member.team_id]") {{ comment.member.team.name }}
            a([routerLink]="['/members', comment.member_id]") {{ comment.member.name }}
          span(*ngSwitchDefault) admin
          | &nbsp;- {{ comment.created_at | time }}
      button.p-icon-button.p-icon-button_type_edit.fa.fa-trash-o(type='button', aria-label='編集', *ngIf="isAdmin && comment.member?.role_id != 4", (click)="deleteComment(comment.id)")

    //- .c-message.c-message_of_own
    //-   .c-message__body
    //-     | Todo 運営側・参加者側 ユーザ名
    //-   .c-message__footer.u-cf
    //-     .p-post-meta
    //-       a(href='/member-detail.html') admin
    //-       | 01/01 00:00
    //-   button.p-icon-button.p-icon-button_type_edit.fa.fa-pencil(type='button', aria-label='編集', *ngIf="isAdmin")

    //- .c-message.c-message_of_others
    //-   .c-message__body
    //-     | え、どういうこと？
    //-   .c-message__footer.u-cf
    //-     .p-post-meta
    //-       a(href='/team-detail.html') ごらく部チーム
    //-       a(href='/member-detail.html') 参加者
    //-       | 01/01 00:00

  textarea#textarea-question-comment(type='text', name='question-comment', placeholder='コメントを記入してください', [(ngModel)]="comment", simplemde)
  button.p-button.p-button_color_green.pull-right(type='button', (click)="postComment()") 送信
pre(*ngIf="false").
  {{ issue | json }}
