question-detail
	.panel.panel-default
		.panel-body
			.form-horizontal
				.form-group
					label.col-sm-2.control-label 番号
					.col-sm-10
						p.form-control-static { comment.id }
				.form-group
					label.col-sm-2.control-label 投稿者
					.col-sm-10
						a.form-control-static.show(href='{ "/members/" + comment.member_id }') { this.member.name }
				.form-group
					label.col-sm-2.control-label 本文
					.col-sm-10
						p.form-control-static { comment.text }
				.form-group
					label.col-sm-2.control-label 問題番号
					.col-sm-10 { issue.problem_id }
				.form-group
					label.col-sm-2.control-label 問題名
					.col-sm-10
						a.show.form-control-static(href='{ "/problems/" + issue.problem_id }') { problem.title }
				.form-group
					label.col-sm-2.control-label 作成日時
					.col-sm-10
						p.form-control-static { date2str(comment.created_at) }
				.form-group
					label.col-sm-2.control-label 更新日時
					.col-sm-10
						p.form-control-static { date2str(comment.updated_at) }
	script.
		this.members = {}

		fetch(`/api/issues/${this.opts.resource_id}/comments/${this.opts.sub_resource_id}`, {
			credentials: "same-origin"
		}).then((res) => {
			res.json().then((j) => {
				this.comment = j;
				this.update();

				fetch(`/api/members/${this.comment.member_id}`, {
					credentials: "same-origin"
				}).then((res) => {
					res.json().then((j) => {
						this.member = j
						this.update();
					})
				})
			});
		});

		fetch(`/api/issues/${this.opts.resource_id}`, {
			credentials: "same-origin"
		}).then((res) => {
			res.json().then((j) => {
				this.issue = j;
				this.update();

				fetch(`/api/problems/${this.issue.problem_id}`, {
					credentials: "same-origin"
				}).then((res) => {
					res.json().then((j) => {
						this.problem = j
						this.update();
					})
				})
			});
		});
